# Created by venv; see https://docs.python.org/3/library/venv.html

#bytecode files
__pycache__/
**/__pycache__/
*.pyc

#Virtual Environment
.venv/

#VSCode Settings
.vscode/

#MacOS System Files
.DS_Store

#Testing Files
run_tests.sh